@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: #a91d3a;
  font-family: 'Great Vibes', cursive;
}
.imageLeft img {
  height: 100%;
  width: 100%;
  object-position: top;
  object-fit: cover;
}
.imageContainer {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.imageLeft {
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.imageLeft.activeImage {
  animation: slideDown 1s ease-in-out forwards;
  opacity: 1;
}

.textContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
}

.textContainer.activeText {
  animation: slideUp 1s ease-in-out forwards;
  opacity: 1;
}

.textContainer h1 {
  font-size: 2rem;
  color: snow;
}
.textContainer h3 {
  font-size: 3rem;
  color: snow;
  padding-bottom: 20px;
}

.textContainer p {
  font-size: 1.2rem;
  padding: 0px 9rem;
  padding-bottom: 5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;

  color: snow;
}

.buttonContainer {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navButton {
  background-color: transparent;
  margin: 5px;
  cursor: pointer;
}

.restContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.restContainer a {
  padding: 0px 10px;
}

.navButton:hover,
.navButton.activeButton {
  color: #fff;
}
.imgRest {
  margin: 0px 2rem;
}

.titleRest {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .imageContainer {
    flex-direction: column;
  }

  .imageLeft {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
  .textContainer {
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    position: relative;
  }

  .textContainer {
    padding: 15px;
    padding-top: 30px;
    bottom: auto;
    right: auto;
  }

  .buttonContainer {
    flex-direction: row;
  }
  .textContainer p {
    font-size: 1rem;
    padding: 0px 1rem;
    padding-bottom: 20px;
  }
  .textContainer h2 {
    font-size: 1.6rem;
    color: snow;
  }
  .textContainer h3 {
    font-size: 1.8rem;
    color: snow;
    padding-bottom: 10px;
  }
  .imgRest {
    margin: auto;
    width: 4rem !important;
    height: 4rem !important;
  }
  .titleRest {
    font-size: 0.6rem;
  }
}
